/* Urbanist Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800;900&display=swap");

/* All reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
  text-transform: capitalize;
  transition: var(--transition);
  font-weight: 600;
  padding: 15px 20px;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
}
/* Global / Common CSS */
:root {
  --btnBg: #f57005;
  --colorWhite: #fff;
  --transition: all 0.3s linear;
}
body,
html {
  font-family: "Urbanist", sans-serif;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.dFlex {
  display: flex;
}
a.btn {
  position: relative;
  background: var(--btnBg);
  color: var(--colorWhite);
  padding: 7px 15px;
  border-radius: 4px;
  border: 2px solid transparent;
  overflow: hidden;
}
.btn:hover {
  color: var(--btnBg);
  background: var(--colorWhite);
  border: 2px solid var(--btnBg);
}
/* Header Area CSS */

.headerArea {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.headerItems {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 10px 0;
}
.mainMenu {
  place-self: center;
}
.mainMenu ul li a {
  font-size: 16px;
  color: var(--colorWhite);
}
.userLogin {
  justify-content: flex-end;
  align-items: center;
  color: var(--colorWhite);
}
.userLogin ul {
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* Slider Area CSS */

.sliderArea {
  background-image: url("../images/sliderImg/sliderBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 200px;
}
.sliderContent {
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.sliderContent .content h2 {
  color: var(--colorWhite);
  font-size: 70px;
  font-weight: 800;
  line-height: 70px;
  margin-bottom: 20px;
}
.sliderContent .content p {
  color: var(--colorWhite);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 30px;
}
.sliderContent .content .buttons {
  gap: 20px;
}
.sliderContent .content .buttons a:last-child {
  background: transparent;
  border: 2px solid var(--colorWhite);
}
.sliderContent .content .buttons a:last-child:hover {
  border: 2px solid var(--btnBg);
}
.sliderContent .content .buttons a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  right: -58%;
  top: 0;
  transform: rotate(-60deg);
}
/* .videoBtnWrap {
  width: 150px;
  height: 150px;
  border: 2px solid rgba(255, 255, 255, 0.47);
}
.videoBtnWrap,
.playVideo,
.videoIcon {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.playVideo {
  background: #184f78;
  width: 100px;
  height: 100px;
}
.videoIcon {
  width: 50px;
  height: 50px;
  color: var(--btnBg);
  background: var(--colorWhite);
}
.playVideo i {
  font-size: 20px;
}
.workShop,
.videoBtnWrap {
  position: absolute;
}
.workShop {
  left: 0;
  top: 50%;
} */

/* Service Area CSS */

.serviceArea {
  padding: 110px 0;
  background-image: url("../images/serviceImg/serviceBg.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.serviceContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 35px;
}
.serviceCard {
  box-shadow: 4px 10px 10px rgba(221, 221, 221, 0.7);
  padding: 20px;
}
.serviceCard .serviceIcon {
  width: 76px;
  height: 76px;
}
.serviceCard .serviceHeading {
  margin: 30px 0;
  font-size: 18px;
  font-weight: 700;
  color: #2a254d;
}
.serviceCard .serviceDesc {
  color: #697585;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 25px;
}
.serviceCard .readMoreBtn {
  padding: 10px 15px 10px 0px;
  color: var(--btnBg);
  display: inline;
}
